@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1200px; 
    margin: 0 auto;
    background-color:#F3F1FF;   
}
/* HEADER STYLE START  */

.top-player-top-blog-container{
    background: #FFFFFF;  
    border: 1px solid red;
    padding: 15px;
}
.nav-container{
    background-color: #562EFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-left,.nav-right{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.logo img{
    width: 40.42px;
    height: 51px;
    margin: 10px; 
    padding: 10px; 
}
.logo-title h1{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 100;
    
}
.item img{
    width: 51px;
    height: 51px;  
}
.nav-right .item{
    color: #ffff;
    text-decoration: none;
    margin-right: 30px;
    
}
.item img{
    width: 51px;
    height: 51px; 
}
/* HEADER STYLE END */
#color{
    font-size: 24px;
    color: #562EFF;  
}
.top-player-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    /* width: 870px;
height: 679px; */
}
.players-info{
    display: flex;
}
.player-img{
    margin-right: 16px;
}
.player-img img{
    width: 56px;
    height: 56px; 
}
hr{
    border: 1px solid #D1D1D1;
}
/* BLOG STYLE START */
.blog-item{
    display: flex;
}
.blog-img img{
    width: 177px;
    height: 117px; 
}
#author-name{
    color: #562EFF;
}